@charset "UTF 8";

:root{
    --base-color:#fff;
    --accent-color-1:#CB4042;
    --accent-color-2:#DCC878;
    --light-color:#FFF3F4;
    --font-main-color:#2B2B2B;
    --font-light-color:#707070;

    --logo-font-family:"Cormorant Garamond", serif;
    --title-font-family:'Times New Roman', Times, serif;
    --text-font-family:Arial, Helvetica, sans-serif;
   
    --content-erea-width:1200px;

}


.swiper {
    width: 100%;
    height: 554px;
    margin-top: 90px;
  }
  @media screen and (max-width: 1024px){
    .swiper{
        margin-top: 60px;
        height: calc(100dvh - 60px);
    }
  }

.swiper-slide{
    position: relative;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    overflow: hidden;
}

.swiper-slide__link {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.swiper-slide__link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25); 
    transition: opacity 0.3s ease;
    z-index: 1;
}

  .swiper-slide img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    z-index: 0;
}

.swiper-button-prev::after,.swiper-button-next::after{
    color: #fff;
}

.swiper-button-prev{
    position: relative;
    left: 40px;
}



/* スライド画像ホバー時の設定（画像拡大、オーバレイ削除）
---------------------------------------------------------------------------*/
.swiper-slide:hover img {
    transform: scale(1.1);
}

.swiper-slide__link:hover::before {
    opacity: 0; 
}

.swiper-slide:hover .swiper-slide__inner__text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* シャドウを追加 */
}

/* スライド内文字列の調整
---------------------------------------------------------------------------*/
.swiper-slide__inner {
    position: absolute;
    left: 40px;
    bottom: 40px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    z-index: 2;
}

.swiper-slide__inner__text {
    margin: 0;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.1em;
    transition: text-shadow 0.3s ease;
}

@media screen and (max-width: 500px){
    .swiper-slide__inner {
        left: 20px;
    bottom: 20px;
    }
}

/* about--レイアウト配置
---------------------------------------------------------------------------*/
.about {
    position: relative;
    display: flex;
    max-width: 100%;
}

.about-background {
    position: absolute;
    display: flex;
    width: 60vw;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--light-color); 
}

.about-inner {
    display: flex;
    width: var(100% - 80px);
    max-width: var(--content-erea-width);
    margin: 0 auto;
    padding: 64px 40px;
    z-index: 2;
}

.about-inner__body{
    display: flex;
    flex-direction: column;
    width:50%
}

@media screen and (max-width: 1200px){
    .about-inner {
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .about-background {
        width: 100%;
        flex-direction: column;
    }
    .about-inner {
        width: 100%;
        padding: 32px 20px;
    }

.about-inner__body{
    width: 100%;
}
}

.about-pattern{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    z-index: 1;
}

.about-pattern img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-pattern img {
    width: 60%;
    height: 60%;
    object-fit: cover;
}

/* about--タイトル、テキスト
---------------------------------------------------------------------------*/
.about-inner__title {
    font-size: 3.6rem;
    letter-spacing: 0.1em;
    font-family: var(--title-font-family);
    font-style: italic;
    font-weight: bold;
    color: var(--accent-color-1);
    margin-bottom: 32px;
}

.about-inner__txt {
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 0.05em;
    margin-bottom: 32px;
    text-align:justify;
}

@media screen and (max-width: 768px){
    .about-inner__title {
        font-size: 3.2rem;
        margin-bottom: 24px;
    }
    .about-inner__txt {
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 500px){
    .about-inner__title {
        font-size: 2.4rem;
        margin-bottom: 16px;
    }
    .about-inner__txt {
        font-size:1.3rem;
        margin-bottom: 16px;
    }
}

/* about--著者名・SNSアイコン
---------------------------------------------------------------------------*/
.about-inner__auther {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.auther-inner{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.auther-inner__name {
    margin-bottom: 16px;
    font-family: "La Belle Aurore", cursive;
    font-style: normal;
    font-size: 2.4rem;
    font-weight: 400;
    color: var(--accent-color-1);
}
.author-inner__icons{
    display: flex;
    width: 100%; 
    justify-content: space-between;
}
.author-inner__icons a img {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 768px){
    .about-inner__auther {
        display: flex;
        flex-direction: column;
        margin-right: calc(45% + 16px);
        margin-left: auto;
    }
    .auther-inner__name{
        margin-bottom:8px;
    }
    .author-inner__icons a img {
        width: 18px;
        height: 18px;
    }
}
@media screen and (max-width: 500px){
    .about-inner__auther {
        margin-right: calc(50% + 16px);
        margin-left: auto;
    }
    
    .auther-inner__name{
        font-size: 1.6rem;
    }
}

/* about--著者写真
---------------------------------------------------------------------------*/
.about-image {
    position: absolute;
    width: 100%;
    max-width: calc(var(--content-erea-width) - (var(--content-erea-width)/2) - 24px - 40px);
    height: 80%;
    left: calc(24px + 50%);
    /* top: 150px; */
    top: 30%;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1200px){
    .about-image {
        width: calc(100vw - 50% - 64px);
    }
}

@media screen and (max-width: 1024px){
    .about-image {
        height: 80%;
        width: calc(100vw - 50% - 40px);
        top: 30%;
    }
}

@media screen and (max-width: 768px){
    .about-image {
        width: 45%;
        height: 70%;
        top: 75%;
        left: auto;
        right: 0;
    }
}

@media screen and (max-width: 500px){
    .about-image {
        width: 50%;
        height: 50%;
        top: 79%;
        left: auto;
        right: 0;
    }
}

/* ratest post
---------------------------------------------------------------------------*/
.ratest-post{
    width: 100%;
    max-width: 1400px;
    margin: 150px auto 0 auto;
}

.ratest-post__content{
    display: flex;
    flex-direction: column;
    
}

@media screen and (max-width: 768px) {
    .ratest-post{
        margin: 250px auto 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .ratest-post{
        margin: 200px auto 0 auto;
    }

}



/* RATEST-POST カードエリア
---------------------------------------------------------------------------*/
.ratest-post__card {
    width: 100%;
    max-width: var(--content-erea-width);
    margin: 40px auto 0 auto;
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


@media screen and (max-width: 1024px) {
    .ratest-post__card {
        grid-template-columns: repeat(2, 1fr);
        margin: 20px auto 0 auto;
        padding: 0 20px;
    }

}
@media screen and (max-width: 768px) {
    .ratest-post__card {
        grid-template-columns: 1fr;
        margin: 20px auto 0 auto;
        padding: 0 20px;
    }
}

.card-item {
    width: 100%;
    max-width: 100%;
}


/* populer post
---------------------------------------------------------------------------*/
.populer-post__background{
width: 100%;
background-color: var(--light-color);
margin-top: 150px;
}

.populer-post{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 64px 0 100px;

}

.populer-post__content{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

@media screen and (max-width: 768px) {
    .populer-post__background{
        margin-top: 64px;
    }
    .populer-post{
        width: 100%;
        max-width: 1200px;
        padding: 32px 0 64px ;
    }
}

/* POPULER-POST カードエリア
---------------------------------------------------------------------------*/
.populer-post__card {
    width: 100%;
    max-width: var(--content-erea-width);
    margin: 40px auto 0 auto;
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .populer-post__card {
        grid-template-columns: repeat(2, 1fr);
        margin: 20px auto 0 auto;
        padding: 0 20px;
    }
    .card.item1{
        grid-row: 1/1;
        grid-column: 1/1;
    }
}

@media screen and (min-width: 769px) {
    .card.item1{
        grid-row: 1/1;
        grid-column: 1/4;
    }
}






